flows (1).json
[{"id":"fcbd6551b0d8b6ae","type":"tab","label":"Flow 2","disabled":false,"info":"","env":[]},{"id":"83638325604d94be","type":"ui_form","z":"fcbd6551b0d8b6ae","name":"","label":"","group":"9bb788fa8dc02a48","order":0,"width":0,"height":0,"options":[{"label":"AvgHeartBeatPerMin","value":"AvgHeartBeatPerMin","type":"number","required":true,"rows":null},{"label":"PalPitationsPerDay","value":"PalPitationsPerDay","type":"number","required":true,"rows":null},{"label":"Cholesterol","value":"Cholesterol","type":"number","required":true,"rows":null},{"label":"BMI","value":"BMI","type":"number","required":true,"rows":null},{"label":"Age","value":"Age","type":"number","required":true,"rows":null},{"label":"ExerciseMinPerWeek","value":"ExerciseMinPerWeek","type":"number","required":true,"rows":null}],"formValue":{"AvgHeartBeatPerMin":"","PalPitationsPerDay":"","Cholesterol":"","BMI":"","Age":"","ExerciseMinPerWeek":""},"payload":"","submit":"submit","cancel":"cancel","topic":"topic","topicType":"msg","splitLayout":"","className":"","x":150,"y":100,"wires":[["9b7d86eec0d11a91","dac801ccb9a24877"]]},{"id":"17e4fa43f420828f","type":"ui_dropdown","z":"fcbd6551b0d8b6ae","name":"","label":"SEX","tooltip":"","place":"SEX","group":"9bb788fa8dc02a48","order":1,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"male","value":"male","type":"str"},{"label":"Female","value":"Female","type":"str"}],"payload":"","topic":"topic","topicType":"msg","className":"","x":150,"y":200,"wires":[["936fab7d312ea8de","eb1b6488d1fbd9eb"]]},{"id":"8699279ec35fa15b","type":"ui_dropdown","z":"fcbd6551b0d8b6ae","name":"","label":"Family History","tooltip":"","place":"Family History","group":"9bb788fa8dc02a48","order":2,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"YES","value":"YES","type":"str"},{"label":"No","value":"No","type":"str"}],"payload":"","topic":"topic","topicType":"msg","className":"","x":160,"y":320,"wires":[["6ac592d069a3532f","921247842651aa45"]]},{"id":"670c3b96d0b08a34","type":"ui_dropdown","z":"fcbd6551b0d8b6ae","name":"","label":"Smoker last 5 Yrs","tooltip":"","place":"Smoker last 5 Yrs","group":"9bb788fa8dc02a48","order":3,"width":0,"height":0,"passthru":true,"multiple":false,"options":[{"label":"Yes","value":"Yes","type":"str"},{"label":"No","value":"No","type":"str"}],"payload":"","topic":"topic","topicType":"msg","className":"","x":150,"y":400,"wires":[["2a11c6cf9fe8e65f","d946cb2098c72d8e"]]},{"id":"9b7d86eec0d11a91","type":"debug","z":"fcbd6551b0d8b6ae","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":350,"y":80,"wires":[]},{"id":"936fab7d312ea8de","type":"debug","z":"fcbd6551b0d8b6ae","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":390,"y":200,"wires":[]},{"id":"6ac592d069a3532f","type":"debug","z":"fcbd6551b0d8b6ae","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":430,"y":320,"wires":[]},{"id":"2a11c6cf9fe8e65f","type":"debug","z":"fcbd6551b0d8b6ae","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":450,"y":420,"wires":[]},{"id":"dac801ccb9a24877","type":"function","z":"fcbd6551b0d8b6ae","name":"global variables for form","func":"global.set(\"AVGHEARTBEATSPERMIN\",msg.payload.AvgHeartBeatPerMin)\nglobal.set(\"PALPITATIONSPERDAY\",msg.payload.PalPitationsPerDay)\nglobal.set(\"CHOLESTEROL\",msg.payload.Cholesterol)\nglobal.set(\"BMI\",msg.payload.BMI)\nglobal.set(\"AGE\",msg.payload.Age)\nglobal.set(\"EXERCISEMINPERWEEK\",msg.payload.ExerciseMinPerWeek)\nvar apikey=\"ElLks7aVkQT9LXz2WuItM90Ipy0V8eyt1hW_iCFofl4i\"\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":410,"y":140,"wires":[["137776ebd353cdc9"]]},{"id":"eb1b6488d1fbd9eb","type":"function","z":"fcbd6551b0d8b6ae","name":"global variables for SEX","func":"global.set(\"SEX\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":450,"y":260,"wires":[[]]},{"id":"921247842651aa45","type":"function","z":"fcbd6551b0d8b6ae","name":"global variables for Family History","func":"global.set(\"FAMILYHISTORY\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":480,"y":360,"wires":[[]]},{"id":"d946cb2098c72d8e","type":"function","z":"fcbd6551b0d8b6ae","name":"global variables for Smoker last 5 Yrs","func":"global.set(\"SMOKERLAST5YRS\",msg.payload)\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":550,"y":480,"wires":[[]]},{"id":"137776ebd353cdc9","type":"http request","z":"fcbd6551b0d8b6ae","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":570,"y":80,"wires":[["be0f8a3905aabf16","538e7d0bb2bb8f9f"]]},{"id":"2c26c1d7a37ab9e0","type":"http request","z":"fcbd6551b0d8b6ae","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://us-south.ml.cloud.ibm.com/ml/v4/deployments/7ab70138-4d4c-418a-a330-bf81a2d4d42e/predictions?version=2022-07-23","tls":"","persist":false,"proxy":"","authType":"basic","senderr":false,"x":790,"y":240,"wires":[["a0de865ce457464b","5259f459f3af4e04"]]},{"id":"be0f8a3905aabf16","type":"debug","z":"fcbd6551b0d8b6ae","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":750,"y":60,"wires":[]},{"id":"538e7d0bb2bb8f9f","type":"function","z":"fcbd6551b0d8b6ae","name":"PrePrediction","func":"var AGE = global.get(\"AGE\")\nvar SEX = global.get(\"SEX\")\nvar BMI = global.get(\"BMI\")\nvar AVGHEARTBEATSPERMIN = global.get(\"AVGHEARTBEATSPERMIN\")\nvar PALPITATIONSPERDAY = global.get(\"PALPITATIONSPERDAY\")\nvar CHOLESTEROL = global.get(\"CHOLESTEROL\")\nvar FAMILYHISTORY = global.get(\"FAMILYHISTORY\")\nvar SMOKERLAST5YRS = global.get(\"SMOKERLAST5YRS\")\nvar EXERCISEMINPERWEEK = global.get(\"EXERCISEMINPERWEEK\")\nvar token=msg.payload.access_token\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"Accept\":\"application/json\"}\nmsg.payload={\"input_data\":[{\"fields\": [[\"AGE\", \"SEX\", \"BMI\",\"AVGHEARTBEATSPERMIN\", \"PALPITATIONSPERDAY\",  \"CHOLESTEROL\",  \"FAMILYHISTORY\",  \"SMOKERLAST5YRS\", \"EXERCISEMINPERWEEK\"]],\"values\": [[AGE,SEX,BMI,AVGHEARTBEATSPERMIN,PALPITATIONSPERDAY,CHOLESTEROL,FAMILYHISTORY,SMOKERLAST5YRS,EXERCISEMINPERWEEK]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":660,"y":180,"wires":[["2c26c1d7a37ab9e0"]]},{"id":"a0de865ce457464b","type":"debug","z":"fcbd6551b0d8b6ae","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":930,"y":300,"wires":[]},{"id":"34f956b4f8f16702","type":"debug","z":"fcbd6551b0d8b6ae","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":990,"y":340,"wires":[]},{"id":"5259f459f3af4e04","type":"function","z":"fcbd6551b0d8b6ae","name":"","func":"msg.payload = msg.payload.predictions[0].values[0][0]\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":780,"y":320,"wires":[["34f956b4f8f16702","8a31ae517661325a"]]},{"id":"8a31ae517661325a","type":"ui_text","z":"fcbd6551b0d8b6ae","group":"9bb788fa8dc02a48","order":4,"width":0,"height":0,"name":"","label":"Heartfailure prediction will be:","format":"{{msg.payload}}","layout":"col-center","className":"","x":950,"y":440,"wires":[]},{"id":"9bb788fa8dc02a48","type":"ui_group","name":"Enter the values","tab":"b95a9186ba8c3ad8","order":1,"disp":true,"width":"6","collapse":false,"className":""},{"id":"b95a9186ba8c3ad8","type":"ui_tab","name":"heartfailure predictor","icon":"dashboard","disabled":false,"hidden":false}]